<!-- profile cover for large screens -->
<div class="profile-cover">
  <img src="../assets/images/cover/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="cover">
  <div class="profile-box d-lg-block d-none">
    <div class="profile-content">
      <div class="image-section">
        <div class="profile-img">
          <div>
            <img src="../assets/images/user-sm/15.jpg" class="img-fluid blur-up lazyload bg-img"
                 alt="profile">
          </div>
          <span class="stats">
            <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload"
                 alt="verified">
          </span>
        </div>
      </div>
      <div class="profile-detail">
        <h2>{{ profileData.name }} <span>❤</span></h2>
        <h5>{{ profileData.email }}</h5>
        <div class="counter-stats">
          <ul id="counter">
            <li>
              <h5>following</h5>
            </li>
            <li>
              <h5>likes</h5>
            </li>
            <li>
              <h5>followers</h5>
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile"
           class="btn btn-solid">edit profile</a>
      </div>
    </div>
  </div>
  <div class="setting-dropdown btn-group custom-dropdown arrow-none dropdown-sm">
    <a class="btn-white btn-cover" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">
      edit cover
    </a>
    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
      <ul>
        <li>
          <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#choosePhoto"><i
            class="icon-font-light iw-16 ih-16" data-feather="image"></i>choose
            photo</a>
        </li>
        <li class="choose-file">
          <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="upload"></i>upload
            photo</a>
          <input type="file">
        </li>
        <li>
          <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="maximize"></i>set
            position</a>
        </li>
        <li>
          <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="trash-2"></i>remove
            photo</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- profile cover for small screens -->
<div class="d-lg-none d-block">
  <div class="profile-box">
    <div class="profile-content">
      <div class="image-section">
        <div class="profile-img">
          <div>
            <img src="../assets/images/user-sm/15.jpg" class="img-fluid blur-up lazyload bg-img"
                 alt="profile">
          </div>
          <span class="stats">
            <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload"
                 alt="verified">
          </span>
        </div>
      </div>
      <div class="profile-detail">
        <h2>{{ profileData.name }} <span>❤</span></h2>
        <h5>{{ profileData.email }}</h5>
        <div class="counter-stats">
          <ul>
            <li>
              <h5>following</h5>
            </li>
            <li>
              <h5>likes</h5>
            </li>
            <li>

              <h5>followers</h5>
            </li>
          </ul>
        </div>
        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile"
           class="btn btn-solid">edit profile</a>
      </div>
    </div>
  </div>
</div>