<div class="page-body container-fluid custom-padding profile-page profile-page-about">
  <!-- sidebar panel start -->
  <app-sidebar-panel></app-sidebar-panel>
  <!-- sidebar panel end -->

  <div class="page-center">
    <!-- profile cover start -->
    <app-profile-cover></app-profile-cover>
    <!-- profile cover end -->

    <!-- profile menu start -->
    <app-profile-menu></app-profile-menu>
    <!-- profile menu end -->

    <div class="container-fluid section-t-space px-0">
      <div class="row">
        <div class="content-left col-4 res-full-width order-1">
          <!-- profile box -->
          <app-about-details></app-about-details>
        </div>
        <div class="content-center col-xl-8">
          <!-- education details -->
          <app-education-details></app-education-details>
          
          <!-- professional experience -->
          <app-professional-experience></app-professional-experience>
          
          <!-- additional information -->
          <app-additional-info></app-additional-info>
        </div>
      </div>
    </div>
  </div>
</div>