<div class="about-profile section-b-space">
  <div class="card-title">
    <h2>More About Me</h2>
  </div>
  <div class="card-title">
    <h3>🎓 Education</h3>
    <div class="settings">
      <div class="setting-btn">
        <a href="#" data-bs-toggle="modal" data-bs-target="#editProfile">
          <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
             data-feather="edit-2"></i>
        </a>
      </div>
    </div>
  </div>
  <ul class="about-list">
    <li *ngFor="let field of profileFields" (dblclick)="editField(field.key)">
      <h5 class="title">{{ field.label }}:</h5>

      <div *ngIf="editingField === field.key; else staticText">
        <input
          type="text"
          [(ngModel)]="field.value"
          (blur)="saveField()"
          class="form-control"
        />
      </div>

      <ng-template #staticText>
        <h6 class="content">{{ field.value }}</h6>
      </ng-template>
    </li>
  </ul>
</div>