<div class="profile-menu section-t-space">
  <ul>
    <li>
      <a [routerLink]="'/career'">
        <i class="iw-14 ih-14" data-feather="clock"></i>
        <h6>Home</h6>
      </a>
    </li>
    <li class="active">
      <a href="profile-about.html">
        <i class="iw-14 ih-14" data-feather="info"></i>
        <h6>about</h6>
      </a>
    </li>
  </ul>
  <ul class="right-menu d-xl-flex d-none">
    <li>
      <div class="search-bar input-style icon-left search-inmenu">
        <i class="iw-16 ih-16 icon icon-theme" data-feather="search"></i>
        <input type="text" class="form-control" placeholder="search here...">
      </div>
    </li>
  </ul>
</div>